@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
*{
    font-family: 'Fugaz One', cursive;
}
body{
    margin: 0; 
    padding: 0; 
    background:  linear-gradient(rgba(155, 160, 80, 0.9), rgba(21, 28, 167, 0.7)),url("../public/assets/image4.jpeg"); 
    height: 100vh; 
    background-position: center; 
    background-size: cover ; 
  
}